<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-4 mb-lg-0">
        <h2 class="h5 lined text-white mb-4">About</h2>
        <p class="text-muted text-small">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
        <p class="text-muted text-small">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore.
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="social-link" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#"
              ><i class="fab fa-google-plus"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link" href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h2 class="h5 text-white lined mb-4">Quick Links</h2>
        <div class="d-flex">
          <ul class="list-unstyled d-inline-block mr-4 mb-0">
            <li class="mb-2">
              <a class="footer-link" href="#">Make appointments </a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#">EXPERTS team</a>
            </li>
            <li class="mb-2">
              <a class="footer-link" href="#">Departments services</a>
            </li>
            <li class="mb-2"><a class="footer-link" href="#">About our </a></li>
            <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
          </ul>
          <ul class="list-unstyled d-inline-block mb-0">
            <li class="mb-2"><a class="footer-link" href="#">Home </a></li>
            <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
            <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
            <li class="mb-2"><a class="footer-link" href="#">About our </a></li>
            <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-4">
          <h2 class="h5 text-white lined mb-4">Newsletter</h2>
          <p class="text-muted text-small">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
          <div class="input-group mb-3">
            <input class="form-control text-muted bg-none border-primary" type="text" placeholder="Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </div> -->

      <div class="col-lg-5">
        <div class="row">
          <div class="col-12">
            <form class="px-3" id="contact-form" [formGroup]="frmRegister" (ngSubmit)="submitVal(frmRegister.value)">
              <p class="content-info">We’re glad to discuss your career interest and helps you for better job. So please contact us via the details below, or enter your request.</p>
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  placeholder="Raja"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  placeholder="C"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPhoneNumber"
                  formControlName="mobileNumber"
                />
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea rows="3" 
                  type="text"
                  class="form-control message-input"
                  id="message"
                  placeholder="message...."
                  formControlName="message"
                ></textarea>
              </div>
              <div class="text-center">
                <button [disabled]="!frmRegister.valid" class="btn btn-primary text-center">
                 Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container text-center py-4">
      <p class="mb-0 text-muted">
        &copy; 2022, Your company. Template designed by
        <a (click)="getAll()">Angular Bootstrap Temple</a>.
      </p>
    </div>
  </div>
</footer>
